<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="user">{{ username }}</title>
    <link rel="stylesheet" href="/static/game-style.css">
    <script defer src="/static/game-scripts.js"></script>
</head>
<body>

  <main id="main-holder">
    <h1 id="position-tracker">{{ position }}</h1>
    <div id="game-text">
        {% if extra %}
      <p><b>{{ extra }}</b></p>
        {% else %}
            Welcome to the game. <br>
            Press 'continue' below to progress through the story.<br>
        {% endif %}
    </div>

    <form id="game-form">
      <div class="button-holder">
        <input type="submit" value="Inventory" id="button-holder-inventory" class="game-form-field">
        <input type="submit" value="Map" id="button-holder-map" class="game-form-field">
        <input type="submit" value="Stats" id="button-holder-stats" class="game-form-field">
      </div>
      <input type="submit" value="North" id="north-button" class="game-form-field">
      <div class="button-holder">
        <input type="submit" value="West" id="west-button" class="game-form-field">
        <input type="submit" value="South" id="south-button" class="game-form-field">
        <input type="submit" value="East" id="east-button" class="game-form-field">
      </div>
    </form>
  </main>

</body>
</html>