<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title id="user">Game</title>
    <link rel="stylesheet" href="/static/game-style.css">
    <script defer src="/static/info-scripts.js"></script>
    <script defer src="/static/move-scripts.js"></script>
    <script defer src="/static/combat-scripts.js"></script>
    <script defer src="/static/location-scripts.js"></script>
    <script defer src="/static/keybindings.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="flex-container">
      <div class="flex-child" id="instructions-holder">
        <div id="instructions">

        </div>
      </div>

      <div class="flex-child" id="content-holder">
        <div id="content">
          <div id="text">
              <textarea id=text-area rows="25" cols="65" disabled="disabled" style="resize: none"></textarea>
          </div>

          <div id="info">
          </div>
        </div>


        <div id="combat">
            <div id="combat-selection-1">
            </div>
            <div id="combat-view">
            </div>
            <div id="combat-selection-2">
            </div>
        </div>
      </div>

      <div class="flex-child" id="equipment-holder">
        <div id="equipment">

        </div>
      </div>
  </div>

</body>
</html>