<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="user">{{ username }}</title>
    <link rel="stylesheet" href="/static/game-style.css">
    <script defer src="/static/info-screen-scripts.js"></script>
</head>
<body>
<main id="main-holder">
    <h1 id="position-tracker">{{ position }}</h1>
    <div id="inventory-text">
        <p>inventory goes here</p>
    </div>

    <form id="game-form">
      <input type="submit" value="Back" id="back-button" class="game-form-field">
    </form>
  </main>
</body>
</html>