<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/login-menu-style.css">
    <script defer src="/static/menu-scripts.js"></script>
</head>
<body>

  <main id="main-holder">
    <h1 id="menu-header">{{ username }}</h1>

    <form id="login-form">
      <input type="submit" value="New Game" id="new-game-submit"><br>
      <input type="submit" value="Resume Game" id="resume-game-submit">
    </form>
  </main>

</body>
</html>